#  Functions

1. What is Python, and why is it popular?
   -> Python is a high-level, interpreted programming language known for its readability and simplicity.
   -> It's Popular
    -Easy Syntax
    -Large Standard
2. What is an interpreter in Python?
  ->An interpreter reads and executes code line by line. Python code is interpreted, not compiled, which makes debugging easier.

3. What are pre-defined keywords in Python?
  ->Keywords are reserved words that Python uses for its syntax (like if, else, for, while, def).

4. Can keywords be used as variable names?
  -> No, keywords cannot be used as variable names. It will result in a SyntaxError.

5. What is mutability in Python?
  -> Mutability refers to whether an object can be changed after it's created.

   Mutable: Can be changed (e.g., lists, dictionaries)

   Immutable: Cannot be changed (e.g., tuples, strings)

6. Why are lists mutable but tuples immutable?
   -> Lists are designed to store dynamic data that may need updates.
   Tuples are used when data should remain unchanged (e.g., days of the week).

7. What is the difference between == and is?
-> == checks value equality
    (is) checks object identity (memory location)

8. What are logical operators in Python?
 ->and - True if both are true
 or - True if at least one is true
 not- Reverses boolean value

9. What is type casting in Python?
 ->Type casting converts one data type to another, like int("5").

10. Difference between implicit and explicit casting:
 ->Implicit: Python automatically converts type

In [ ]:
x = 5 + 2.5  # x will float 7.5

-> Explicit : Done manually by the programmer

In [ ]:
x = int("5") # x will be x = 5

11. Purpose of conditional statements in Python?
   ->To make decisions based on conditions using if, elif, and else.

12. How does elif work?
  -> elif stands for else if. It checks another condition if the previous if was False.

13. Difference between for and while loops:
  ->for: Iterate over a sequence
  while: Repeats as long as a condition is True

14. When is a while loop more suitable?
   ->When you donâ€™t know in advance how many times to loop (e.g., input until correct).

# Practical Python Question

1. Print "hello world"

In [ ]:
print("Hello, World")

2. Display name and age

In [5]:
name = "Sobhit"
age = 23
print (f"My name is {name}, and I am {age} years old.")

My name is Sobhit, and I am 23 years old.

3. print all python keywords

In [3]:
import keyword
print (keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

4. check if a word is a python keyword

In [10]:
import keyword
word = input("Enter a word: ")
print(f"{word} is a keyword: {keyword.iskeyword(word)}")

Enter a word: we
we is a keyword: False

5. Demonstrate mutable vs immutable

In [11]:
def modify_data(lst, tup):
    lst[0] = 'Changed'  # Works
    try:
        tup[0] = 'Changed'  # Error
    except TypeError:
        print("Tuples are immutable.")

modify_data(['a', 'b'], ('x', 'y'))

Tuples are immutable.

6. Basic arithmetic opertaions

In [12]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Quotient:", a / b)

Enter first number: 2
Enter second number: 4
Sum: 6
Difference: -2
Product: 8
Quotient: 0.5

In [ ]:
7. Logical operators

In [13]:
x = 5
print(x > 3 and x < 10)  # True
print(not (x > 3))       # False

True
False

8. List and tuple example

In [16]:
my_list = [1, 2, 3]
my_list[0] = 99
my_tuple = (1, 2, 3)

9. Covert input to int , float, bool

In [17]:
value = input("Enter value: ")
print(int(value))
print(float(value))
print(bool(value))

Enter value: 12
12
12.0
True

10. Type caste list elements

In [18]:
str_list = ['1', '2', '3']
int_list = list(map(int, str_list))
print(int_list)

[1, 2, 3]

11. Check if a number is +,-.or 0

In [19]:
num = int(input("Enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: 12
Positive

12. For loop from 1to10

In [20]:
for i in range (1, 11 ):
  print (i)

1
2
3
4
5
6
7
8
9
10

13. Sum of even numbers from 1 to 50

In [21]:
total = 0
for i in range(2, 51, 2):
    total += i
print("Sum:", total)

Sum: 650

14. Reverse a string using while loop

In [22]:
s = input("Enter a string:")
i = len(s) - 1
while i >= 0:
  print (s[i], end="")
  i -=1

Enter a string:hello
olleh

15. Factorial using while loop

In [29]:
n = int(input("Enter a number: "))
fact = 1
while n > 1:
    fact *= n
    n -= 1
print("Factorial: ", fact)

Enter a number: 10
Factorial:  3628800